# appveyor file
# http://www.appveyor.com/docs/appveyor-yml
image:
  - Ubuntu2004
  - Visual Studio 2019
  - macos

init:
  - git config --global core.autocrlf input

cache:
  - node_modules
  - '%AppData%\npm-cache'

# what combinations to test
environment:
  matrix:
    - nodejs_version: 14

branches:
  only:
    - /master|^v\d+\.\d+\.\d+?(-\S*)?$/

platform:
  - x86
  - x64

for:
    ########## UBUNTU SPECIFIC CONFIGURATION ##########
    - matrix:
          only:
              - image: ubuntu
              - fast_finish: true
          environment:
            CCACHE_TEMPDIR: /tmp/.ccache-temp
            CCACHE_COMPRESS: 1
            CC: "clang"
            CXX: "clang++"
          install:
            - pip install --user -r requirements.txt
            - ps: Install-Product node $env:nodejs_version x64
            - npm install
          build: off

          test_script:
            - node --version
            - npm --version
            - cmd: npm test

          deploy_script:
            - ci\prebuild-publish.sh %nodejs_version%

    ########## OSX SPECIFIC CONFIGURATION ##########
    - matrix:
          only:
              - image: macos
              - fast_finish: true
          environment:
            CCACHE_TEMPDIR: /tmp/.ccache-temp
            CCACHE_COMPRESS: 1
            CC: "clang"
            CXX: "clang++"
          install:
            - pip2 install -r requirements.txt
            - ps: Install-Product node $env:nodejs_version x64
            - npm install
          build: off

          test_script:
            - node --version
            - npm --version
            - cmd: npm test

          deploy_script:
            - ci\prebuild-publish.sh %nodejs_version%

    ########## Windows SPECIFIC CONFIGURATION ##########
    - matrix:
          only:
              - image: Visual Studio 2019
              - fast_finish: true
          install:
            - pip install -r requirements.txt
            - ps: Install-Product node $env:nodejs_version x64
            - npm install
          build: off

          test_script:
            - node --version
            - npm --version
            - cmd: npm test

          deploy_script:
            - ci\prebuild-publish.bat %nodejs_version%
